# IntelliJ IDEA / JetBrains
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local env files
.env
.env.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Backend
backend/target/

